body{
			background-color: #FDEAA8;
			color: black;
			font: 16px arial;
			}

.main{
	display: block;
	top: 55px;
	position: relative;
	overflow:hidden;
}

.main img{
	height:300px;
	width:100%;
	opacity: 0.88;
}

.main h1{
	left: 0;
	position: absolute;
	width:50%;
	top: 50px;
	text-align:center;
	background: #ffa07a;
color: 4d1410;	;
	margin: 10px 25%;
	border-radius: 30px;
	left: 0;
	
}
.main span {
	margin: 0 15%;
	background: #e9967a;
color: 4d1410;	;
    font: 14px arial;
    line-height: 23px;
    padding: 3px 1px;
	left: 0;
	position: absolute;
	width:70%;
	top: 100px;
	text-align:center;	
	border-radius: 30px;
}
.menu {
	background-color:#A52A2A;
color:white;
	border: 3px #000 dotted;
    line-height: 7px;
	width:100%;
	display:inline-flex;
	margin: -6px 0 10px -11px;
	position: fixed;
	top:1%;
	z-index: 999999;
	justify-content: space-around;
	flex-wrap: wrap;
	padding:7px 2px 2px 2px;
	
}

.menu a {
	text-decoration: none;	
	color: #fff; 
	padding: 7px 10px;
	text-align: right;
	display:inline-block;
	
}
.menu div:hover {
    border-radius: 20px 5px;
	background-color: black;
color:white;
}
.menu div {
    font-weight: bold;
	font-size: 16px;
}
#point1 {
	min-width:87px;
}#point2 {
	min-width:110px;
}#point3 {
	min-width:110px;
}#point4 {
	min-width:20px;
}#point5 {
	min-width:155px;
}
.icons{
	width:28%;	
	display: flex;
	position: relative;
	text-align:center;
	flex-direction:column;
	
}
.icon{
	margin: 5px 0;
    border-radius: 20px;
	background-color: #FFf2F3;
	
}
.main-text{
	width:20%;
	padding: 0 10px 0 auto;
	text-align:right;
}

#main-h3{	
	text-decoration: underline;
}
iframe{
	float:right;
	margin-top: 20px;
	width:50%;
	
}
.main-content{
	width: 98%;
	float:right;
	margin-bottom:40px;
 display: inline-flex; 
 justify-content:space-between;
	
}

.assorty {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.assorty h2{
	width:70%;
	background-color: #b22222;
	color:#fef;
    border-radius: 30px 5px;
	text-align:center;
	margin:0 auto;
	margin-top:40px
	
}
.write{
	background-color: #FDF4E3;
	width:70%;
	margin:0 auto;
	margin-bottom:20px;
    border-radius: 5px 30px;
	text-align:center;
	
	
}
.img{
	flex: 0 1 auto;
	padding:10px;
	background-color: #FDF4E3;
    border-radius: 20px;
	margin: 10px;	
	flex-basis:content;
}
.imgs{
	display:flex;
	
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	
}
.img div{
	text-indent:20px;
	min-width:150px;
	max-width:250px;
	margin: 0 5%;
	padding:0;
}
.img h3{
	text-align: center;
	width:100%;
	
}
.img h4{
	width:100%;
	text-align: right;
	padding-right:10px;
}
.img img{
	width:80%;
	min-width:150px;
	max-width:250px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	margin: 0 10%;
	padding:0;
	
}

.text{
	width:99%;
	padding:10px;
	text-indent: 30px;
	background-color: #8b0000;	
	color: white;
	display: inline-block;
	position: relative;
	text-align:left;
    border-radius: 20px;
	text-indent:20px;
}
.blocks{
	display: flex;	
	justify-content:space-between;

	
	
}
.block{
	width:29%;
	display: flex;	
	flex-direction:column;
	justify-content:space-between;
	background-color:#f5deb3;
	border-radius:30px;
	border-radius:30px;
}
.block  .otzyv{
	background-color: #F8F4FF;
	text-align:center;
	border-radius:40%;
	padding: 20px 10px;
	margin:5px;
}
.block h4{
	margin:0;
}
.block img{
	width:70%;
}
.main-block{
	width:69%;
	display: flex;	
	flex-direction:column;
	justify-content:space-between;
	text-indent:20px;
}
.our {
	display: flex;
}
.our img{
width: 34%;
border-radius: 5px 30px;
	margin: 3px;
}
.our .text{
width:70%;
text-indent: 30px;
background-color: #F8F4FF;
border-radius: 30px 5px;
	margin: 3px;
	text-indent:20px;	
}
.cook {
	display:flex;
}
.cook img{
border-radius: 30px 5px;
width: 34%;
	margin: 3px;
	
}
.cook .text {
width:70%;
text-indent: 30px;
background-color: #F8F4FF;
border-radius: 5px 30px;
	margin: 3px;
	
}
.main-block span{
	
	text-indent:20px;
}
.work{
	width:99%;
}
.work .text {
	width:80%;
	background-color: #321011;
	color:#FDF4E3;
	border-radius:5px 30px ;
	text-align:left;
	
}

.opr{
	padding:20px;
	background-color: #FDF4E3;
	width:70%;
	font-size:20px;
	border-radius:30px 5px;
	margin-bottom:20px;
	margin-left:auto;
	
}
.footer{	
	display: inline-block;
	clear:both;
	width:100%;
	text-align: center;
	background-color:#A52A2A;
	padding:10px;
	margin:0;
}

.footer-left{
	display: inline-block;
	width:25%;
	text-align: center;
	vertical-align: top;
			background-color: #FDEAA8;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 40px;
    border-top-left-radius: 10px;
}
.footer-center{
	display: inline-block;
	vertical-align: center;
	width:23%;
	text-align: top;
			background-color: #FDEAA8;
    border-radius: 40px;
	
}
.footer-right{
	display: inline-block;
	vertical-align: top;
			background-color: #FDEAA8;
	width:46%;
	text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 40px;
	}
.footer h3{
	margin: 5px;
	text-decoration: underline;	
}
.footer a{	
	text-decoration: none;	
	color: #321011;
}
.footer span{	
	text-decoration: none;	
	color: #321011;
}

@media (max-width: 767px){
body{
	
			font: 14px arial;
}
textarea{
	width:60%;
}
.main span {
	top:60px;
	width:90%;
	left: -10%;
}
.main h1 {
	top:20px;
	width:70%;
	left: -10%;
}
.icons{
	width:100%;
	display:flex;
	justify-content: space-around;
	flex-direction:row;
}
.icon{
	
	margin:5px 5px;
}
.main-text{
	width:100%;
}
iframe{
	width:100%;
}
.main-content{
	flex-direction:column;
	
}
.main-block{
	width:97%;
}
.our {
	flex-direction:column;
	width:100%;
	}
	.our img{
		width:100%;
		max-height: 1000px;
	}
	.cook img{
		width:100%;
		max-height: 1000px;
	}
	.cook .text{
		width:100%;
		margin-right:10px;
	}
	.our .text{
		width:100%;
	}
	.cook{
	flex-direction:column;	
	width:100%;	
	}
	.blocks{
	flex-direction:column;
	width:100%;
		
	}
	.block{
	flex-direction:row;
	width:100%;
		
	}
	.block .otzyv{
		width:33%;
	}
	.footer{
	display:flex;	
	flex-direction:column;
}
.footer-left{
	width:97%;
	margin: 5px 0;
}.footer-right{
	width:97%;
	margin: 5px 0;
}.footer-center{
	width:97%;
	margin: 5px 0;
}


}
@media (max-width:1000px){
	.our img{
		width:50%;
		max-height:320px;
	}
	.cook img{
		width:50%;
		max-height:320px;
		
	}
}

@media (max-width:640px){
.img {
	width:94%;
	margin:10px 30px 10px 10px;
}
.img img{
	width:90%;
	min-width:100px;
	max-width:100%;
	margin: 0 5%;
	padding:0;
}.img div{
	width:90%;
	min-width:100px;
	max-width:100%;
}
	
}


@media (max-width:600px){
	
	.block{
	flex-direction:column;
	}
	.block .otzyv{
		width:80%;
		margin:10px auto;
		
	}
}